<html>
<head>
  <title>DockSmith - Containers</title>
  <style>
      table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
      }
      * {
          padding: 5px;
      }
  </style>
</head>
<body>
<center>
  <%= render "src/views/_containers_table.ecr" %>
</center>
</body>
</html>